body {
     background-color: #FFF;
     /* display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: block; */
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}

@media only screen and (min-width: 600px) {
  body {};
}

/* -------------------------- Navigation Bar --------------------------   */
.navbar {
     position: fixed;
     width: 100%;
     font-family: "montseratt", sans-serif;
     font-size: 20px;
     padding: 10px;
     z-index: 5;
     transition: all 0.5s;

     /* -webkit-backdrop-filter: blur(8px); */
     /* backdrop-filter: blur(3px); */
     /* box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2); */
     /* background-color: #8C8C8C; */
     /*mix-blend-mode: difference;*/
}

.navbar-scrolled {
     /* -webkit-backdrop-filter: blur(8px); */
     /* backdrop-filter: blur(3px); */
     box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
     background: #FF9B4F;
     transition: all 0.5s;
}

.navbar .menu li {
     color: #fff;
     list-style: none;
     letter-spacing: 2px;
     display: inline-block;
     text-transform: uppercase;
}

.navbar .menu li a {
     font-size: 20px;
     text-decoration: none;
     font-weight: 200;
     margin-left: 40px;
     display: inline-block;
     color: #FFFFFF;
     padding: 15px 20px;
     position: relative;
}

.navbar .menu li a::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 50%;
     display: block;
     background: none repeat scroll 0 0 transparent;
     height: 2px;
     width: 0;
     background-color: #FFFFFF;
     transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar .menu li a:hover:after {
     width: 100%;
     left: 0;
}

.nav-width {
     max-width: 1300px;
     padding: 0 50px;
     margin: auto;
}

.navbar .nav-width {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.logoo{
     cursor: pointer;
     fill: rgba(255, 255, 255, 1);
}

.logoo:hover{
     fill: rgba(255, 255, 255, 0.75);
}

/* --------------------- SlideShow ---------------------*/

.swiper-container {
     width: 100%;
     height: 100%;
}

.gambar {
     width: 100%;
}
/* -------------------------- about -------------------------- */

.about-container {
     display: flex;
     width: 100%;
     /*background: #bfd1ec;*/
     flex-direction: row;
     justify-content: flex-end;
}

#bg {
     background-color: #FFF1E9;
}

.about-container-info {
     font-family: "Roboto", sans-serif;
     font-size: 38px;
     font-weight: 300;
     color: #8C8C8C;
}

#about-container-info-t {
     font-family: 'montseratt', sans-serif;
     color: #000000;
     font-size: 52px;
     font-weight: 600;
}

.underline-2 {
     display: inline-block;
     padding-bottom: 2px;
     border-bottom: 1px solid #8C8C8C;
}

#about-container-info-a {
     font-size: 30px;
     font-weight: 500;
     color: #ff3c3c;
     text-decoration: none;
     font-family: "Roboto", sans-serif;
     text-align: right;
}

#about-container-info-a:hover {
     color: #241200;
}

.about-container-info p {
     font-family: 'Roboto', sans-serif;
     font-weight: light;
     font-size: 26px;
     color: #8C8C8C;
}

.about-container-image {
     flex: 1;
     object-fit: cover;
}

/* -------------------------- Portfolio  --------------------------   */

.Title {
     font-family: 'montseratt', sans-serif;
     color: #000000;
     font-size: 56px;
     font-weight: bold;
     text-transform: uppercase;
}

.Title a {
     color: #8C8C8C;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     font-weight: light;
     font-size: 24px;
}

.Title a:hover {
     color: #000;
}

.port h2 {
     font-family: "montseratt", sans-serif;
}

/* -------------------------- Portfolio Hover --------------------------  */

.preview {
     -webkit-filter: brightness(100%);
     transition: all 0.5s ease;
     box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.3);
}

.preview:hover {
     -webkit-filter: brightness(70%);
     transition: all 0.5s ease;
     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

/* -------------------------- contact --------------------------  */

.contact-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
}

.one {
     justify-items: center;
     margin: auto;
}

.two {
     display: grid;
     /*background-color: #0c63e4;*/
     margin: auto;
}

.two-inside {
     /*background-color: #a52834;*/
     padding: 50px;
     text-align: center;
}

#two-inside {
     font-family: "montseratt", sans-serif;
     color: #000;
     font-size: 38px;
     font-weight: 700;
}

.two-inside-2 {
     background-color: #0dcaf0;
}

.booking {
     text-align: center;
     text-transform: uppercase;
     font-family: "montseratt", sans-serif;
     font-weight: bold;
}

.booking a {
     text-decoration: none;
     color: #FF9B4F;
     font-size: 28px;
     word-spacing: 12px;
     letter-spacing: 3px;
}

.button {
     border-radius: 50px;
     border-style: solid;
     border-color: #FF9B4F;
     border-width: 5px;
     padding: 12px 36px;
     height: 250px;
}

.button:hover  {
     border-radius: 50px;
     border-style: solid;
     background-color: #FF9B4F;
     border-color: #FF9B4F;
     border-width: 5px;
     padding: 12px 36px;
     height: 250px;
     color: #FFFFFF;
}

/* Button effect */

.btn {
     border: 3px solid #FF9B4F;
     background-color: white;
     color: #FF9B4F;
     padding: 12px 36px;
     font-size: 28px;
     cursor: pointer;
     border-radius: 40px;
     text-transform: uppercase;
     font-family: "montseratt", sans-serif;
     font-weight: 700;
     word-spacing: 12px;
     letter-spacing: 3px;
     transition: all 0.2s ease;
     /* box-shadow: 3px 2px; */
}

.btn:hover {
     border: 3px solid #FF9B4F;
     background-color: #FF9B4F;
     color: white;
     transition: all 0.5s ease;
}

/* -------------------------- footer  --------------------------   */

.footer-note {
     background-color: #eaeaea;
     color: #001247;
     padding-top: 5px;
     padding-bottom: 10px;
     width: 100%;
     bottom: 0;
     position: relative;
     text-align: center;
     font-family: Poppins, sans-serif;
}

span {
     color: #FFFFFF;
}

.test {
     background-color: #0a53be;
     padding: 1px;
}
